<div class="container">
	<div class="row justify-content-center">
		<div class="col">
			<div>
				<div class="user_icon">
		      <%= attachment_image_tag(@user, :icon, :fill, 150, 150, fallback: "no-image-icon.png", size:"150x150") %>
		    </div>				<div class="col">
					<table class="table table-borderless">
						<tr>
							<td>
								<%= @user.name %>
							</td>
							<td>
								<!--フォローする/フォロー中ボタンの非同期通信-->
						    <% if @user != current_user && current_user.present? %>
				          <div id="relationship-btn_<%= @user.id %>">
				            <%= render "relationships/relationship-btn", user: @user %>
				          </div>
						    <% end %>
							</td>
							<td>
								<% if @user == current_user %>
									<%= link_to "編集", edit_user_path(@user), class: "btn btn-sm btn-outline-secondary edit_post_#{@user.id}" %>
								<% end %>
							</td>
						</tr>
						
						<tr>
							<td>
								<P>投稿<%= @user.posts.count %>件</P>
							</td>
							<!--フォロワー数の非同期通信-->
							<td id="relationship-count_<%= @user.id %>">
								<%= render "relationships/relationship-count", user: @user %>
							</td>
						</tr>
						<tr>
							<td>
								<%= @user.introduction %>
							</td>
						</tr>
					</table>
		    </div>
		  </div>
			<%= render "users/posts", posts: @posts %>
		</div>
	</div>
</div>