<div class="container">
	<div class="row justify-content-center">
		<div class="col">

			<!-------ユーザー情報---------------------------------------------------->
			<div class="row">
				
				<!--アイコン-->
				<div class="col-4 text-center mt-3">
					<%= attachment_image_tag @user, :icon, :fill, 150, 150, fallback: "no-image-icon.png", size:"150x150", class: "rounded-circle"; %>
				</div>

				<!--ユーザー情報詳細-->
				<div class="col">
					<table class="table table-borderless">
						<tr>
							<!--ユーザー名-->
							<td class="h2">
								<%= @user.name %>
							</td>
							<td>
								<% if @user != current_user && current_user.present? %>
									<!--フォローする/フォロー中ボタン-->
									<div id="relationship-btn_<%= @user.id %>">
										<%= render "relationships/relationship-btn", user: @user %>
									</div>
								<% elsif @user == current_user %>
									<!--設定アイコン-->
									<%= link_to "", edit_user_path(@user), class: "mt-2 fas fa-user-cog fa-lg text-secondary text-decoration-none" %>
						    <% end %>
							</td>
						</tr>

						<tr>
							<!--投稿数-->
							<td>
								<P>投稿<%= @user.posts.count %>件</P>
							</td>
							<!--フォロワー／フォロー中-->
							<td id="relationship-count_<%= @user.id %>">
								<%= render "relationships/relationship-count", user: @user %>
							</td>
						</tr>

						<!--紹介文-->
						<tr>
							<td colspan="2">
								<%= @user.introduction %>
							</td>
						</tr>
					</table>
		    </div>
		  </div>

		  <!-------投稿一覧-------------------------------------------------------->
			<%= render "users/posts", posts: @posts %>
		</div>
	</div>
</div>
