<div>
	<%= image_tag 'about-bg.jpg', style: "width: 100%; height: 800px;" %>
</div>

<div class="container">
	<div class="row my-5">
		<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 text-center">
			<h1 class="my-5">About Down To Earth</h1>
			<h3 class="mb-5">Give people the power to build community and bring the sustainable world</h3>
			<%= link_to "Logo created by DesignEvo", "https://www.designevo.com/", class:"nav-link text-reset text-decoration-none" %>
		</div>
	</div>

	<div class="row justify-content-center my-5">
		<ul class="list-group list-group-horizontal mb-5">
			<li class="list-inline-item m-3">
				<%= link_to  posts_path, class: "btn-md", type: "button" do  %>
				  <i class="far fa-images"></i>
				  <span>投稿一覧</span>
				<% end %>
			</li>
			
			<li class="list-inline-item m-3">
				<%= link_to  new_user_session_path, class: "btn-md", type: "button" do  %>
				  <i class="fas fa-sign-in-alt"></i>
				  <span>ログイン</span>
				<% end %>			
			</li>
			
			<li class="list-inline-item m-3">
				<%= link_to  new_user_registration_path, class: "btn-md", type: "button" do  %>
				  <i class="fas fa-user-plus"></i>
				  <span>新規登録</span>
				<% end %>					
			</li>
		</ul>
	</div>
</div>

<footer>
	<%= render "layouts/footer" %>
</footer>
