<% posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <% post.post_images.first(1).each do |image| %>
        <%= attachment_image_tag image, :image, :fill, 250, 250 %>
      <% end %>
    <% end %>
  </div>
  
  <ul class="list-group list-group-horizontal">
    <%= link_to user_path(post.user.id) do %>
      <li class="list-inline-item user_icon_s">
        <%= attachment_image_tag(post.user, :icon, :fill, 40, 40, fallback: "no-image-icon.jpg", size:'40x40') %>
      </li>
      <li class="list-inline-item">
        <%= post.user.name %>
      </li>
    <% end %>
  </ul>
  
  <!--いいね機能非同期通信-->
  <div id="favorite-btn_<%= post.id %>"><%= render "favorites/favorite-btn", post: post %></div>
  
  <%= link_to post_path(post.id) do %>
    <p><%= post.caption %></p>
  <% end %>

<% end %>