<div class="container">
	<div class="row justify-content-center">
		<div class="timeline-border">

			<!--タイトル-->
			<h4 class="text-center text-secondary my-3">
				<% if user_signed_in? %>
					<%= "ようこそ、#{current_user.name}さん！" %>
				<% else %>
					Down To Earthへようこそ！
				<% end %>
			</h4>

			<table class="table table-borderless text-center">
				<!--新規投稿ボタン-->
				<% if user_signed_in? %>
					<tr>
						<td>
							<button type="button" class="btn-lg" data-toggle="modal" data-target="#postModalScrollable">
							  <i class="far fa-plus-square"></i>
							  <span>投稿する</span>
							</button>
							<%= render "posts/new", post: @post_new %>
						</td>
					</tr>
				<% else %>
					<!--ログインボタン-->
					<tr>
						<td>
							<%= link_to  new_user_session_path, class: "btn-lg", type: "button" do  %>
							  <i class="fas fa-sign-in-alt"></i>
							  <span>ログインする</span>
							<% end %>
						</td>
					</tr>
				<% end %>

				<!--投稿一覧ボタン-->
				<tr>
					<td>
						<%= link_to  posts_path, class: "btn-lg", type: "button" do  %>
						  <i class="far fa-images"></i>
						  <span>投稿一覧を見る</span>
						<% end %>
					</td>
				</tr>

				<!--ユーザー一覧ボタン-->
				<tr>
					<td>
						<%= link_to  users_path, class: "btn-lg", type: "button" do  %>
						  <i class="fas fa-user-friends"></i>
						  <span>ユーザーを探す</span>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
