<div class="scroll-list jscroll">
  <div class="card-list-container">
    <% posts.each do |post| %>
      <div class="card mx-auto mt-4 shadow-lg" style="width: 70%;">
        
        <!--投稿画像-->
        <%= link_to post_path(post.id) do %>
          <% unless post.post_images.present? %>
            <%= image_tag "no-image-post.jpg", class:"card-img-top" %>
          <%else%>
            <% post.post_images.first(1).each do |image| %>
              <%= attachment_image_tag image, :image, class:"card-img-top" %>
            <% end %>
          <% end %>
        <% end %>
  
        <div class="card-body">
          <div class="row">
            <div class="col-2 d-flex align-items-center">
            <%= link_to user_path(post.user.id) do %>
                <%= attachment_image_tag post.user, :icon, :fill, 60, 60, fallback: "no-image-icon.png", size:"60x60", class:"rounded-circle"; %>
            <% end %>
            </div>
            
            <div class="col-10">
              <div class="row">
                <h5 class="col-3 card-title">
                  <%= link_to post.user.name, user_path(post.user.id), class: "text-dark font-weight-bold" %>
                </h5>
    
                <!--いいね機能非同期通信-->
                <% if current_user.present? %>
                  <div id="favorite-btn_<%= post.id %>" class="card-text mr-2">
                    <%= render "favorites/favorite-btn", post: post %>
                  </div>
                  <div id="favorite-count_<%= post.id %>">
                    <%= render "favorites/favorite-count", post: post %>
                  </div>
                <% else %>
                  <div>
                    <%= "♥ いいね！ #{post.favorites.count}件" %>
                  </div>
                <% end %>
              </div>
              
              <div class="card-text">
                <%= render_with_hashtags(post.caption) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <!--無限スクロール-->
  <%= paginate posts %>
</div>
