<script>
  let mySwiper = new Swiper('.swiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    }
  });
</script>


<span id="comment-form-error"></span>

<div class="container">
  <div class="row">



    <div class="swiper">
      <div class="swiper-wrapper">
        <% @post.post_images.each do |image| %>
          <div class="swiper-slide">
            <%= attachment_image_tag image, :image %>
          </div>
        <% end %>
      </div>

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>



    <div class="col mt-2">
      <!--アイコンとユーザー名-->
      <div class="mb-3">
        <%= link_to user_path(@post.user) do %>
          <%= attachment_image_tag(@post.user, :icon, :fill, 60, 60, fallback: "no-image-icon.png", size:"60x60", class: "rounded-circle") %>
          <span class="h4 text-dark font-weight-bold mx-3">
            <%= @post.user.name %>
          </span>
        <% end %>

        <!--投稿者だったら編集ボタンを削除ボタンを表示-->
        <span>
          <% if @post.user == current_user %>
            <span class="btn-s mx-2" data-toggle="modal" data-target="#editModalScrollable">
              編集
            </span>
            <%= render "posts/edit" %>

            <span class="mx-2">
              <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn-s-gray" %>
            </span>
          <% end %>
        </span>
      </div>

      <div class="mb-2">
        <!--いいね-->
        <% if current_user.present? %>
          <span id="favorite-btn_<%= @post.id %>" class="card-text mr-2">
            <%= render "favorites/favorite-btn", post: @post %>
          </span>
          いいね！
          <span id="favorite-count_<%= @post.id %>" class="card-text mr-2">
            <%= render "favorites/favorite-count", post: @post %>
          </span>
          件
        <% else %>
          <p class="fas fa-heart">
            <%= " いいね！ #{@post.favorites.count}件" %>
          </p>
        <% end %>
      </div>

      <!--コメント一覧-->
      <div id="comments">
        <%= render "comments/index",post: @post %>
      </div>

      <!--コメント入力フォーム-->
      <div>
        <%= form_with(model:[@post, @comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows: "3", placeholder: "コメントを追加…", class: "form-control" %>
          <div class="text-right">
            <%= f.submit "投稿する", class: "btn-md mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
