<span id="comment-form-error"></span>

<div class="container">
  <div class="row">
    <div class="col mt-5">
      <% unless @post.post_images.present? %>
        <%= image_tag "no-image-post.jpg", size: "500x500" %>
      <%else%>
        <div>
          <% @post.post_images.each do |image| %>
            <%= attachment_image_tag image, :image %>
          <% end %>
        </div>
      <%end%>
    </div>

    <div class="col mt-2">
      <div class="mb-3">
        <%= link_to user_path(@post.user) do %>
          <%= attachment_image_tag(@post.user, :icon, :fill, 60, 60, fallback: "no-image-icon.png", size:"60x60", class:"rounded-circle") %>
          <span class="h4 text-dark font-weight-bold mx-3">
            <%= @post.user.name %>
          </span>
        <% end %>

        <% if @post.user == current_user %>
          <span class="mx-2">
            <%= link_to "編集", edit_post_path(@post), class: "btn-s" %>
          </span>
          <span class="mx-2">
            <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn-s-gray" %>
          </span>
        <% end %>
      </div>

        <!--いいね機能非同期通信-->
        <% if current_user.present? %>
          <span id="favorite-btn_<%= @post.id %>" class="card-text mr-2">
            <%= render "favorites/favorite-btn", post: @post %>
          </span>
          いいね！
          <span id="favorite-count_<%= @post.id %>" class="card-text mr-2">
            <%= render "favorites/favorite-count", post: @post %>
          </span>
          件
        <% else %>
          <p class="fas fa-heart">
            <%= " いいね！ #{@post.favorites.count}件" %>
          </p>
        <% end %>
        <p>
          <%= render_with_hashtags(@post.caption) %>
        </p>
        <p class="text-secondary">
          <i class="far fa-clock clock-icon"></i>
          <%= time_ago_in_words(@post.created_at) %><% if time_ago_in_words(@post.created_at) != "1分未満" %>前<% end %>
        </p>

      <!--コメント機能非同期通信-->
      <div id="comments">
        <%= render "comments/index",post: @post %>
      </div>

      <div class="text-center">
        <%= form_with(model:[@post, @comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows: "3", placeholder: "コメントを追加…", class: "form-control" %>
          <%= f.submit "投稿する", class: "btn-md mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<footer>
  <%= render "layouts/footer" %>
</footer>
