<div class="container">
  <div class="py-5">
    <div class="row">
      <div class="col">
        <!--投稿画像をスライドに格納-->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% @post.post_images.drop(1).count.times do |index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="#{index}"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <% @post.post_images.first(1).each do |image| %>
                <%= attachment_image_tag image, :image, :fill, 400, 400 , class: "carousel_image" %>
              <% end %>
            </div> 
            <% @post.post_images.drop(1).each do |image| %>
              <div class="carousel-item">
                <%= attachment_image_tag image, :image, :fill, 400, 400 , class: "carousel_image" %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>        
      </div>

      <div class="col">
    		<table class='table table-borderless'>
    		  <tr>
    		    <td class="user_icon">
    		      <%= link_to user_path(@post.user) do %>
                <%= attachment_image_tag(@post.user, :icon, :fill, 60, 60, fallback: "no-image-icon.jpg", size:'60x60') %>
              <% end %>
            </td>
    		    <td>
    		      <%= link_to user_path(@post.user) do %>
                <%= @post.user.name %>
              <% end %>
            </td>

            <% if @post.user == current_user %>
              <td>
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-info edit_post_#{@post.id}" %>
              </td>
              <td>
                <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger destroy_post_#{@post.id}"%>
              </td>
            <% end %>
          </tr>
        </table>

        <div>
          <!--いいね機能非同期通信-->
          <p id="favorite-btn_<%= @post.id %>"><%= render "favorites/favorite-btn", post: @post %></p>
          <p>
            <% @post.tags.each do |tag| %>
             <%= tag.name %>
            <% end %>            
          </p>
          <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <p><%= @post.caption %></p>
        </div>
        
        <!--コメント機能非同期通信-->
        <div id="comments">
          <%= render "posts/comment",post: @post,comment: @comment %>
        </div>
        
        <div>
        <%= form_with(model:[@post, @comment], remote: true) do |f| %>
          <%= f.text_area :comment, rows:'5', size:"40x5", placeholder: "コメントを追加…" %>
          <%= f.submit "投稿する" %>
        <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>