<div class="container">
  <div class="py-5">
    <div class="row">
      <div class="col">
        <% unless @post.post_images.present? %>
          <%= image_tag 'no-image-post.png', size: '500x500' %>
        <%else%>
          <div>
            <% @post.post_images.each do |image| %>
              <%= attachment_image_tag image, :image, class: "carousel_image" %>
            <% end %>
          </div> 
        <%end%>
      </div>

      <div class="col">
    		<table class='table table-borderless'>
    		  <tr>
    		    <td class="user_icon">
    		      <%= link_to user_path(@post.user) do %>
                <%= attachment_image_tag(@post.user, :icon, :fill, 60, 60, fallback: "no-image-icon.png", size:'60x60') %>
              <% end %>
            </td>
    		    <td>
    		      <%= link_to user_path(@post.user) do %>
                <%= @post.user.name %>
              <% end %>
            </td>

            <% if @post.user == current_user %>
              <td>
                <%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-info edit_post_#{@post.id}" %>
              </td>
              <td>
                <%= link_to '削除', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-outline-danger destroy_post_#{@post.id}"%>
              </td>
            <% end %>
          </tr>
        </table>

        <div>
          <!--いいね機能非同期通信-->
          <% if current_user.present? %>
            <p id="favorite-btn_<%= @post.id %>">
              <%= render "favorites/favorite-btn", post: @post %>
            </p>
          <% else %>
            <p>
              <%= "♥ いいね！ #{@post.favorites.count}件" %>
            </p>
          <% end %>
          <p><%= @post.created_at.strftime('%Y/%m/%d') %></p>
          <p>
            <%= render_with_hashtags(@post.caption) %>        
          </p>
        </div>
        
        <!--コメント機能非同期通信-->
        <div id="comments">
          <%= render "comments/comment",post: @post %>
        </div>
        
        <div>
        <% if user_signed_in? %>
          <%= form_with(model:[@post, @comment], remote: true) do |f| %>
            <%= f.text_area :comment, rows:'5', size:"40x5", placeholder: "コメントを追加…" %>
            <%= f.submit "投稿する" %>
          <% end %>
        <% end %>
        </div>
        
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>