<li class="nav-item">
  <% if current_page?(root_path) %>
    <%= link_to "", root_path, class:"fas fa-house-user fa-lg nav-link ml-2 faa-pulse animated-hover" %>
  <% else %>  
    <%= link_to "", root_path, class:"fas fa-home fa-lg nav-link ml-2 faa-pulse animated-hover" %>
  <% end %>  
</li>

<!--モーダル（ダイアログの記述は下部に記載）-->
<li class="far fa-plus-square fa-lg nav-link ml-2 faa-pulse animated-hover" data-toggle="modal" data-target="#exampleModalScrollable">
</li>

<li class="nav-item">
  <%= link_to "", posts_path, class:"fas fa-images fa-lg nav-link ml-2 faa-pulse animated-hover" %>
</li>

<li class="nav-item">
  <%= link_to "", users_path, class:"far fa-handshake fa-lg nav-link ml-2 faa-pulse animated-hover" %>
</li>

<!--ユーザーアイコン（マイページとログアウト）-->
<li class="nav-item ml-2">
  <div class="dropdown">
    <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="user_icon_s text-center">
        <%= attachment_image_tag(current_user, :icon, :fill, 40, 40, fallback: "no-image-icon.png", size:"40x40") %>
      </div>
      <span style="color: #808080;">
        <%= current_user.name %>
      </span>
    </div>
      
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item">
        <%= link_to "マイページ", user_path(current_user), class:"nav-link ml-2" %>
      </div>
      <div class="dropdown-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link ml-2" %>
      </div>
    </div>  
  </div>
</li>

<!---------------- モーダルダイアログ ----------------------------------------->
<div class="modal" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="exampleModalCenteredLabel">
          新規投稿を作成
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "posts/form", post: @post_new %>
      </div>
    </div>
  </div>
</div>