<li class="nav-item" data-toggle="tooltip" title="タイムライン">
  <%= link_to "", root_path, class:"fas fa-home fa-2x nav-link ml-2" %>
</li>

<li class="nav-item" data-toggle="tooltip" title="新規投稿">
  <%= link_to "", new_post_path, class:"far fa-plus-square fa-2x nav-link ml-2" %>
</li>

<li class="nav-item" data-toggle="tooltip" title="投稿一覧">
  <%= link_to "", posts_path, class:"fas fa-images fa-2x nav-link ml-2" %>
</li>

<li class="nav-item" data-toggle="tooltip" title="ユーザー一覧">
  <%= link_to "", users_path, class:"fas fa-user-plus fa-2x nav-link ml-2" %>
</li>

<li class="nav-item d-flex align-items-center ml-3 mr-5 pr-5">
  <div class="dropdown">
    <div class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="user_icon_s">
        <%= attachment_image_tag(current_user, :icon, :fill, 40, 40, fallback: "no-image-icon.jpg", size:'40x40') %>
      </div>
      <%= current_user.name %>
    </div>
      
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div class="dropdown-item">
        <%= link_to "マイページ", user_path(current_user), class:"nav-link ml-2" %>
      </div>
      <div class="dropdown-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link ml-2" %>
      </div>
    </div>  
  </div>
</li>