<li class="nav-item">
  <%= link_to "Home", root_path, class:"nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "News", root_path, class:"nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "Post", root_path, class:"nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "User", root_path, class:"nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "MyPage", root_path, class:"nav-link ml-2" %>
</li>

<li class="nav-item">
  <%= link_to "LogOut", destroy_user_session_path, method: :delete, class:"nav-link ml-2" %>
</li>