<!DOCTYPE html>
<html>
  <head>
    <title>DownToEarth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--720px以下はハンバーガーメニューに格納-->
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          
          <div class="center">
            <%= link_to image_tag("logo-line.jpg", width: '300px'), root_path, class:"navbar-brand" %>
          </div>
          
          <button class="navbar-toggler" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#navbarNavDropdown" 
                  aria-controls="navbarNavDropdown" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <%= render "layouts/header_sign_in" %>
            <% else %>
              <%= render 'layouts/header_sign_out' %>
            <% end %>
            </ul>
          </div>
          
        </div>
      </nav>
    </header>
    
    <main>
      <p class="notice_explanation"><%= notice %></p>
      <p class="alerta_explanation"><%= alert %></p>
      
      <%= yield %>
      
      <!--TOPへ戻るボタン-->
      <div id="page-top">
        <span id="back">
          <a href="#" id="move-page-top">
            <i class="fa fa-chevron-circle-up fa-4x"></i>
          </a>
        </span>
      </div>
    </main>

  </body>
</html>