<!DOCTYPE html>
<html>
  <head>
    <title>DownToEarth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--720px以下はハンバーガーメニューに格納-->
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
          
          <div class="text-center">
            <%= link_to "Down To Earth", root_path, class:"navbar-brand" %>
          </div>
          
          <button class="navbar-toggler" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#navbarNavDropdown" 
                  aria-controls="navbarNavDropdown" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <%= render "layouts/header_sign_in" %>
            <% else %>
              <%= render 'layouts/header_sign_out' %>
            <% end %>
            </ul>
          </div>
          
        </div>
      </nav>
    </header>
    
    <main>
      <p class="text-center text-light bg-info"><%= notice %></p>
      <p class="text-center text-light bg-warning"><%= alert %></p>
      <%= yield %>
    </main>

  </body>
</html>