<!DOCTYPE html>
<html>
  <head>
    <title>DownToEarth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--フッター位置設定用-->
    <div class="wrapper">
      <header class="shadow-sm">
        <!--ハンバーガーメニュー-->
        <nav class="navbar navbar-expand-md navbar-light">
          <div class="container-fluid">
            <!--ロゴ-->
            <div class="center">
              <%= link_to image_tag("logo-line.jpg", width: '250px'), root_path, class:"navbar-brand" %>
            </div>
            <!--ハンバーガーメニュー時のボタン-->
            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarNavDropdown" 
                    aria-controls="navbarNavDropdown" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--ハンバーガーメニューの要素-->
            <div class="collapse navbar-collapse flex-column" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto d-flex align-items-center">
                <%= render 'layouts/header_search' %>
                
                <% if user_signed_in? %>
                  <%= render "layouts/header_sign_in" %>
                <% else %>
                  <%= render 'layouts/header_sign_out' %>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      
      <main>
        <!--フラッシュメッセージ-->
        <p class="notice_explanation"><%= notice %></p>
        <p class="alerta_explanation"><%= alert %></p>
        
        <%= yield %>
        
        <!--TOPへ戻るボタン-->
        <%= render 'layouts/top_btn' %>
      </main>
      
      <!--フッターを表示する画面を指定-->
      <% if %w[about 
               users 
               new_user_session 
               new_user_registration 
               new_post
              ].any? { |name| current_page?(send("#{name}_path")) } %>
        <footer>
          <%= render "layouts/footer" %>
        </footer>
      <% end %>  
    </div>  
  </body>
</html>
